.global {
  @include mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-items: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: black;
  color: #fff;
  height: 100%;
  }
}


