.initial-header {
  height: 80vh;
}
.newheader {
   height: 20vh;
}
.container {
  @include mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position:relative;
  p {
    display: flex;
    justify-content: center;
    margin: 6%;
   }
  }
}


.logo {
  @include mobile {
    background-image: url('images/nyt-logo.svg');
    position:relative;
  }
}

.container {
  @include desktop {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
      display: flex;
      justify-content: center;
      margin: 6%;
     }
  }
}

