
/* end of CSS Reset */

/* beginning of mobile first New York Times API */




body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: black;
  color: #ffffff;
}
.timeslogo {
  background-image: url('images/nyt-logo.svg');
  
}

footer {
  display: flex;
  justify-content: center;
  color: #c2c2c2;
}

/* button {
  border-radius: 5%;
} */
